---
import Layout from "../../layouts/Layout.astro";
import Moon from "../../icons/moon.astro";
import English from "../../icons/english.astro";
import Watermark from "../../icons/watermark.astro";
---

<Layout title="Juan León - Porfolio" lang="en">
  <main
    class="m-auto max-w-[1240px] p-[50px] lg:p-[100px] flex flex-col gap-20 items-center"
  >
    <section class="flex flex-col lg:flex-row gap-10 items-center">
      <div
        class="flex gap-[25px] lg:order-last lg:flex-col lg:self-start lg:mt-[17px]"
      >
        <button
          class="hover:text-pink transition-[color] ease-linear duration-200"
          type="button"><Moon /></button
        >
        <a
          class="hover:text-pink transition-[color] ease-linear duration-200"
          href="/"><English /></a
        >
      </div>
      <div class="text-center lg:text-right">
        <h1
          class="font-thunder-bold-lc text-[150px] md:text-[250px] md:text-nowrap xl:text-[300px] uppercase text-center leading-none transition-[font-size] ease-in-out duration-200"
        >
          JUAN LEÓN
        </h1>
        <span
          class="font-thunder-lc text-[45px] md:text-[75px] leading-none transition-[font-size] ease-in-out duration-200"
        >
          Desarrollador Frontend
        </span>
      </div>
    </section>
    <nav class="lg:self-start">
      <ul
        class="flex flex-col items-center lg:items-start gap-[25px] font-thunder-lc text-[30px] md:text-[50px] leading-none transition-[font-size] ease-in-out duration-200"
      >
        <li>
          <a class="text-gray" href="#"
            >Proyectos <span class="font-thunder-hc text-pink">- Pronto</span></a
          >
        </li>
        <li>
          <a class="text-gray" href="#"
            >Sobre mí <span class="font-thunder-hc text-pink">- Pronto</span></a
          >
        </li>
        <li>
          <a
            class="hover:text-pink transition-[color] ease-linear duration-200"
            href="mailto:juans.leonv@icloud.com">Contacto</a
          >
        </li>
        <li>
          <a
            class="hover:text-pink transition-[color] ease-linear duration-200"
            href="https://docs.google.com/document/d/1-raouugth61NAd_I9rbuC-E5S962aQt3aTmBgAbGj2A/edit?usp=sharing"
            target="_blank">Curriculum</a
          >
        </li>
      </ul>
    </nav>
  </main>
  <Watermark />
</Layout>
