---
interface Props {
  title: string;
  lang: "en" | "es";
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-black">
    <slot class="relative overflow-hidden" />
  </body>
</html>
<style is:global>
  /* Webfont: Thunder-BoldLC */
  @font-face {
    font-family: "Thunder-BoldLC";
    src:
      url("/src/assets/fonts/Thunder-BoldLC.woff2") format("woff2"),
      /* Modern Browsers */ url("/src/assets/fonts/Thunder-BoldLC.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }

  /* Webfont: Thunder-HC */
  @font-face {
    font-family: "Thunder-HC";
    src:
      url("/src/assets/fonts/Thunder-HC.woff2") format("woff2"),
      /* Modern Browsers */ url("/src/assets/fonts/Thunder-HC.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }

  /* Webfont: Thunder-LC */
  @font-face {
    font-family: "Thunder-LC";
    src:
      url("/src/assets/fonts/Thunder-LC.woff2") format("woff2"),
      /* Modern Browsers */ url("/src/assets/fonts/Thunder-LC.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
</style>
